USE [master]
GO
/****** Object:  Database [UserMVCAppDB]    Script Date: 23/08/2025 15:45:35 ******/
CREATE DATABASE [UserMVCAppDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UserMVCAppDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\UserMVCAppDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UserMVCAppDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\UserMVCAppDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserMVCAppDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserMVCAppDB]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 23/08/2025 15:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullAddress] [nvarchar](550) NOT NULL,
	[StateId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 23/08/2025 15:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23/08/2025 15:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[AddressId] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([Id], [FullAddress], [StateId], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, N'Street number 123
Model Town
Sector 12', 30, CAST(N'2025-08-22T16:07:07.340' AS DateTime), CAST(N'2025-08-22T16:07:07.353' AS DateTime), 1)
INSERT [dbo].[Addresses] ([Id], [FullAddress], [StateId], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, N'Street number 123
Model Town
Sector 11', 9, CAST(N'2025-08-23T14:52:46.380' AS DateTime), CAST(N'2025-08-23T15:04:49.780' AS DateTime), 0)
INSERT [dbo].[Addresses] ([Id], [FullAddress], [StateId], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, N'street 2', 4, CAST(N'2025-08-23T15:05:26.440' AS DateTime), CAST(N'2025-08-23T15:19:46.527' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[States] ON 

INSERT [dbo].[States] ([Id], [Name]) VALUES (1, N'Andhra Pradesh')
INSERT [dbo].[States] ([Id], [Name]) VALUES (2, N'Arunachal Pradesh')
INSERT [dbo].[States] ([Id], [Name]) VALUES (3, N'Assam')
SET IDENTITY_INSERT [dbo].[States] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [CreatedAt], [UpdatedAt], [IsDeleted], [AddressId]) VALUES (1, N'Aman', CAST(N'2025-08-22T16:07:43.650' AS DateTime), CAST(N'2025-08-22T16:07:43.663' AS DateTime), 0, 1)
INSERT [dbo].[Users] ([Id], [Name], [CreatedAt], [UpdatedAt], [IsDeleted], [AddressId]) VALUES (2, N'Gur', CAST(N'2025-08-23T14:52:46.547' AS DateTime), CAST(N'2025-08-23T15:04:49.997' AS DateTime), 0, 2)
INSERT [dbo].[Users] ([Id], [Name], [CreatedAt], [UpdatedAt], [IsDeleted], [AddressId]) VALUES (3, N'Jass', CAST(N'2025-08-23T15:05:26.503' AS DateTime), CAST(N'2025-08-23T15:19:46.657' AS DateTime), 0, 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_States] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_States]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Addresses] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Addresses]
GO
USE [master]
GO
